* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #161616;
}
section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px 100px 10px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #161616;
}

section .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #e55d1e;
    clip-path: circle(65% at right -20%)
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    position: relative;
    max-width: 150px;
    margin-left: -30px; 
    filter: invert(44%) sepia(97%) saturate(1596%) hue-rotate(346deg) brightness(90%) contrast(99%);   
}
/* Navbar styles
header .navigation {
    position: relative;
    display: flex;
}

header .navigation li {
    list-style: none;
}

header .navigation li a {
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
End of navbar styles*/


.langWrap a {
    display: inline-block;
    color: #cccccc;
    text-decoration: none;
    padding: 0 2px;
    transition: all 0.4s ease-in;
    position: relative;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.langWrap a::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 0.1em;
	background-color: #fff;
	opacity: 0;
	transition: opacity 300ms, transform 300ms;
    transform: translate3d(-100%, 0, 0);
}

.langWrap a.active {
    color: #fff;
}

.langWrap a:hover {
    color: #fff;
}

.langWrap a.active::after, .langWrap a:hover::after {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}


.content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .textbox {
    position: relative;
    max-width: 600px;
    margin-right: 60px;
}

.content .textbox h2 {
    color: #fff;
    font-size: 2.5em;
    margin-bottom: 20px;
    line-height: 1.4em;
    font-weight: 700;
}

.content .textbox p {
    color: #fff;
}

.content .textbox a {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 20px;
    background: #e55d1e;
    color: #fff;
    border-radius: 40px;
    font-weight: 500;
    letter-spacing: 1px;
    text-decoration: none;
}

.sci {
    position: absolute;
    bottom: 40px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sci li {
    list-style: none;
}

.sci li a {
    margin-left: 15px;
    background: #222;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: 0.2s ease-in-out;
}

.sci li #github{
    margin-left: 0px;
}

.sci li a:hover {
    background: #e55d1e;
    transform: translateY(-10px)
}

.sci li a img {
    filter: invert(1);
    transform: scale(0.5);
}

.swiper-container {
    margin-top: 15px;
    width: 100%;
    padding-bottom: 10px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 180px;
    height: 160px;
    display: flex;
    justify-content: center;

}

.content .imgbox {
    position: relative;
    max-width: 500px;
}

.content .imgbox p {
    display: block;
    color: #fff;
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight: 700;
}

.content .imgbox img {
    max-width: 150px;
    
}

.swiper-slide img {
    position: absolute;
    bottom: 0;
    max-height: 100%;
    -webkit-filter: drop-shadow(3px 3px 4px black);
    filter: drop-shadow(3px 3px 4px black) 
}

.swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right {
    background-image: none;
}

footer {
    text-align: center;
    padding: 3px;
    color: white;
    font-size: 0.85em;
}

@media (max-width: 991px)
{
    header {
        padding: 40px;
    }

    header .logo {
        margin-left: 0px;
        margin-right: 15px;
    }
    section {
        padding: 150px 40px 130px 40px;
    }

    section .circle {
        clip-path: circle(80% at right -20%)
    }

    .sci {
        left: 40px;
    }
    
    .sci li a {
        margin-left: 15px;
    }

    .content {
        flex-direction: column;
    }

    .content .textbox {
        margin-right: 0px;
    }
    .content .textbox h2 {
        font-size: 1.9em;
    }

    .content .textbox, .content .imgbox {
        max-width: 100%;
    }

    .content .imgbox p {
        margin-top: 50px;
    }

    /* Navbar styles

    header .navigation {
        display: none;
    }

    header .navigation.active {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background: #e55d1e;
        display: flex;
        z-index: 10;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    header .navigation li a {
        margin: 10px 0;
        font-size: 1.5em;
        font-weight: 300;
    }

    .toggle {
        position: relative;
        width: 30px;
        height: 30px;
        background: url(images/menu.png);
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: center;
        cursor: pointer;
        z-index: 10000;
    }

    .toggle.active {
        position: fixed;
        right: 40px;
        background: url(images/close.png);
        background-size: 25px;
        background-repeat: no-repeat;
        background-position: center;
    } End of navbar styles */


}

@media (max-width: 865px)
{
    header .logo {
        filter: invert(98%) sepia(4%) saturate(0%) hue-rotate(73deg) brightness(113%) contrast(100%);
    }
}

@media (max-width: 510px)
{
    header .logo {
        max-width: 200px;
        filter: none;
    }

    .swiper-slide {
        width: 100px;        
        height: 89px;

    }
    
}

@media (max-width: 400px)
{
    header {
        padding: 40px 10px 40px 10px;
    }

    .langWrap{
        text-align: center;
    }
}

@media (max-width: 300px)
{
    .content .textbox h2 {
        font-size: 1.5em;
    }
}